
.plans-form {
  @include grid-for-mains;
  grid-template-rows: repeat(3, min-content);
  background-color: $lcg-2;
  padding-top: 20px;
}

// .plans-form__user-basic-info {}

// .plans-form__user-plans {}

// .plans-form__add-plan {}
