// .general-header {
//   position: relative;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 1005;
//   background-color: $lcg-1;

//   &--form {}

//   &--catalog {}

//   &--common-margin-left {
//     @media (min-width: $tablet-width) {
//       margin-left: 57px;
//     }

//     @media (min-width: $desktop-width) {
//       margin-left: 0;
//     }
//   }

//   &--scrolled {
//     position: fixed;
//   }
// }

// .general-header__layout {
//   @media (min-width: $desktop-width) {
//     padding: 0;
//   }
// }

// .general-header__auxiliary-layout {
//   padding-top: 15px;
//   padding-bottom: 35px;
//   background-color: $dcg-10;

//   @media (min-width: $tablet-width) {
//     padding: 0;
//   }

//   @media (min-width: $desktop-width) {
//     background-color: $dcg-4;
//   }

//   &--index {
//     @media (max-width: $mobile-width-only) {
//       background-color: $dcg-2;
//     }

//     @media (min-width: $desktop-width) {
//       background-color: $dcg-11;
//     }
//   }

//   &--scrolled {
//     background-color: $lcg-1;
//   }
// }

// .general-header__primary-layout {

//   &--positioned {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     background-color: inherit;
//     z-index: 1006;
//   }
// }

// .general-header__container {
//   @media (min-width: $desktop-width) {
//     display: flex;
//     align-items: center;
//     padding-top: 50px;
//   }

//   &--primary {
//     @media (min-width: $tablet-width) {
//       margin-top: 41px;
//     }
//   }

//   &--auxiliary {
//     @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
//       min-height: 132px;
//     }

//     @media (min-width: $desktop-width) {
//       justify-content: flex-start;
//     }
//   }

//   &--scrolled {
//     @media (min-width: $desktop-width) {
//       margin-top: 0;
//       padding-top: 17px;
//       padding-bottom: 13px;
//     }
//   }
// }

// .general-header__primary-layout-wrapper {
//   min-height: 50px;
//   margin-top: 9px;

//   @media (min-width: $tablet-width) {
//     margin-top: 41px;
//   }

//   @media (min-width: $desktop-width) {
//     margin-top: 0;
//   }
// }

// .general-header__toggle {
//   border: none;
//   outline: none;
//   padding: 0;
//   margin-top: 5px;
//   background-color: transparent;
//   cursor: pointer;
//   display: block;

//   &--burger {
//     @media (min-width: $tablet-width) {
//       margin-top: -2px;
//       padding-left: 22px;
//     }
//   }

//   &--cross {
//     @media (min-width: $tablet-width) {
//       padding-left: 21px;
//     }
//   }
// }

// .general-header__burger-rect {
//   &--scrolled {
//     fill: $lcg-11;
//   }
// }

// .general-header__site-navigation {
//   margin-top: 58px;

//   @media (min-width: $tablet-width) {
//     margin-top: 94px;
//   }

//   @media (min-width: $desktop-width) {
//     margin-top: 0;
//     display: flex;
//     align-items: center;

//     &::before {
//       content: "";
//       display: block;
//       height: 2px;
//     }
//   }

//   &--auxiliary {
//     @media (min-width: $desktop-width) {
//       margin-left: 40px;

//       &::before {
//         width: 60px;
//         background-color: $lcg-1;
//       }
//     }
//   }

//   &--primary {
//     @media (min-width: $desktop-width) {
//       margin-left: 58px;

//       &::before {
//         width: 44px;
//         background-color: $dcg-4;
//       }
//     }
//   }

//   &--scrolled {
//     @media (min-width: $desktop-width) {
//       &::before {
//         background-color: $dcg-4;
//       }
//     }
//   }
// }

// .general-header__authorization {}

// .general-header__nav-list {
//   @media (min-width: $tablet-width) {
//     align-items: flex-start;
//   }

//   @media (min-width: $desktop-width) {
//     flex-direction: row;
//   }
// }

// .general-header__nav-item {
//   &:first-child {
//     @media (min-width: $desktop-width) {
//       margin-left: 45px;
//     }
//   }

//   &:nth-child(2) {
//     @media (min-width: $desktop-width) {
//       margin-left: 34px;
//     }
//   }

//   &:nth-child(3) {
//     @media (min-width: $desktop-width) {
//       margin-left: 33px;
//     }
//   }

//   @media (min-width: $desktop-width) {
//     display: inline-flex;
//     width: max-content;
//     overflow: hidden;
//   }
// }

// .general-header__nav-link {
//   font-size: 30px;
//   font-weight: 500;
//   font-style: normal;
//   line-height: 35px;
//   color: $dcg-4;
//   text-transform: uppercase;

//   @media (min-width: $tablet-width) {
//     font-size: 60px;
//     line-height: 71px;
//   }

//   @media (min-width: $desktop-width) {
//     font-size: 20px;
//     line-height: 20px;
//     color: $lcg-1;
//     position: relative;
//   }

//   &--scrolled {
//     @media (min-width: $desktop-width) {
//       color: $dcg-4;
//     }
//   }

//   &:focus {
//     @media (min-width: $desktop-width) {
//       color: $mcg-1;
//     }
//   }

//   &:hover {
//     @media (min-width: $desktop-width) {
//       color: $mcg-1;
//       animation: revolution 300ms linear;
//     }
//   }

//   &:active {
//     @media (min-width: $desktop-width) {
//       opacity: 0.3;
//     }
//   }

//   &::before {
//     @media (min-width: $desktop-width) {
//       content: attr(data-nav-link);
//       display: block;
//       width: 100%;
//       height: 100%;
//       position: absolute;
//       top: 100%;
//       left: 0;
//     }
//   }

//   &--desktop-prime {
//     @media (min-width: $desktop-width) {
//       color: $dcg-4;
//     }
//   }
// }

// .general-header__contacts-group {
//   margin-top: 52px;

//   @media (min-width: $tablet-width) {
//     margin-top: 77px;
//     margin-left: 57px;
//   }

//   @media (min-width: $desktop-width) {
//     margin-top: 0;
//     margin-left: 297px;
//   }
// }

// .general-header__socials {}

.general-header {
  z-index: 1005;
  background-color: $lcg-1;

  @media (min-width: $desktop-width) {
    padding-top: 48px;
    padding-bottom: 9px;
    background-color: $dcg-4;
  }

  &--index {
    @media (min-width: $desktop-width) {
      background-color: $dcg-11;
    }
  }

  &--common-margin-left {
    @media (min-width: $tablet-width) {
      margin-left: 57px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }

  &--js {
    background-color: $dcg-10;

    @media (max-width: $mobile-width-only) {
      max-height: 73px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      max-height: 132px;
    }
  }

  &--index-js {
    @media (max-width: $mobile-width-only) {
      background-color: $dcg-2;
    }
  }
}

.general-header__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, min-content);
  grid-template-areas:
    "logo button"
    "navigation navigation"
    "authorization authorization"
    "contacts contacts"
    "socials socials";

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "logo button authorization"
      "navigation navigation navigation"
      "contacts contacts contacts"
      "socials socials socials";
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.general-header__logo {
  padding-top: 27px;
  padding-bottom: 31px;
  grid-area: logo;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--js {
    @media (max-width: $mobile-width-only) {
      padding-top: 21px;
      padding-bottom: 31px;
    }
  }
}

.general-header__toggle {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: block;
  grid-area: button;
  justify-self: end;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    justify-self: center;
  }

  &--js {
    @media (max-width: $mobile-width-only) {
      padding-top: 22px;
      padding-bottom: 33px;
    }
  }
}

.general-header__burger-svg {
  &--js {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      display: block;
      margin-top: -5px;
    }
  }
}

// .general-header__cross-svg {
//   &--mobile {}

//   &--tablet {}
// }

.general-header__site-navigation {
  margin-top: 45px;
  grid-area: navigation;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 40px;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 60px;
      background-color: $lcg-1;
    }
  }

  // &--scrolled {
  //   @media (min-width: $desktop-width) {
  //     &::before {
  //       background-color: $dcg-4;
  //     }
  //   }
  // }
}

.general-header__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    // margin-top: 8px;
  }
}

.general-header__nav-item {
  &:first-child {
    @media (min-width: $desktop-width) {
      margin-left: 45px;
    }
  }

  &:nth-child(2) {
    @media (min-width: $desktop-width) {
      margin-left: 34px;
    }
  }

  &:nth-child(3) {
    @media (min-width: $desktop-width) {
      margin-left: 33px;
    }
  }

  @media (min-width: $desktop-width) {
    display: inline-flex;
    width: max-content;
    overflow: hidden;
  }
}

.general-header__nav-link {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  color: $dcg-4;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: $lcg-1;
    position: relative;
  }

  &--scrolled {
    @media (min-width: $desktop-width) {
      color: $dcg-4;
    }
  }

  &:focus {
    @media (min-width: $desktop-width) {
      color: $mcg-1;
    }
  }

  &:hover {
    @media (min-width: $desktop-width) {
      color: $mcg-1;
      // animation: revolution 300ms linear;
    }
  }

  &:active {
    @media (min-width: $desktop-width) {
      opacity: 0.3;
    }
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: attr(data-nav-link);
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

  &--desktop-prime {
    @media (min-width: $desktop-width) {
      color: $dcg-4;
    }
  }
}

.general-header__authorization {
  grid-area: authorization;

  @media (max-width: $mobile-width-only) {
    margin-top: 51px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    margin-top: 40px;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    margin-left: 397px;
  }
}

.general-header__contacts-group {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  grid-area: contacts;

  @media (min-width: $tablet-width) {
    margin-top: 127px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.general-header__socials {
  grid-area: socials;
  margin-top: 30px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 112px;
    margin-bottom: 74px;
    margin-left: 57px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.general-header__element {
  &--js {
    @media (max-width: $mobile-width-only) {
      margin: 0;
      max-height: 0;
    }
  }
}
