
.about-service {
  padding-top: 312px;
  padding-bottom: 66px;

  background-color: $dcg-4;
  background-image: $phone-bg-mobile, $rect-bg-mobile;
  background-repeat: no-repeat, no-repeat;
  background-position: 20px 280px, 0 280px;
  background-size: 292px 353px, 113px 132px;

  border-bottom-left-radius: $bottom-radii;
  border-bottom-right-radius: $bottom-radii;

  @media (min-resolution: 2dppx) {
    background-image: $phone-bg-mobile-2x, $rect-bg-mobile;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    background-color: $dcg-10;
  }

  @media (min-width: $tablet-width) {
    padding-top: 278px;
    padding-bottom: 89px;
    background-image: $phone-bg-tablet, $rect-bg-tablet;
    background-position: 384px 285px, 40px 237px;
    background-size: 376px 548px, 688px 212px;

    border-bottom-left-radius: $bottom-radii-tablet;
    border-bottom-right-radius: $bottom-radii-tablet;

    @media (min-resolution: 2dppx) {
      background-image: $phone-bg-tablet-2x, $rect-bg-tablet;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 164px;
    background-image: $phone-bg-desktop, $quadrate-bg-desktop;
    background-position: 750px 145px, 60px 130px;
    background-size: 630px 665px, 212px 212px;

    @include overlap--bottom(-1, 134px, $bottom-radii-tablet);
  }
}

.about-service__heading {
  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -3px;
  }
}

.about-service__main-text {
  margin-top: 19px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    width: 308px;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    line-height: 34px;
    width: 619px;
    margin-top: 57px;
  }
}

.about-service__additional-text {
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
    width: 265px;
    margin-top: 31px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    line-height: 24px;
    width: 425px;
    margin-top: 38px;
    margin-bottom: 85px;
  }
}

.about-service__more {
  @media (min-width: $tablet-width) {
    width: 276px;
    height: 80px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;
    padding-left: 33px;
    padding-right: 33px;
  }
}
