
.about-service {
  padding-top: 33px;
  padding-bottom: 82px;

  background-color: $dcg-4;
  background-image: $about-service-bg-image-1, $about-service-bg-image-2;
  background-repeat: no-repeat, no-repeat;
  background-position: 70% 0, top left;
  background-size: auto, auto;

  border-bottom-left-radius: $bottom-radii;
  border-bottom-right-radius: $bottom-radii;

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

// .about-service__heading {}

.about-service__main-text {
  margin-top: 19px;
  margin-bottom: 0;
}

.about-service__additional-text {
  margin-top: 19px;
}

.about-service__more {
  @media (min-width: $tablet-width) {
    display: block;
  }
}
