.about-service {
  padding-top: 312px;
  padding-bottom: 66px;
  background-color: $dcg-4;
  background-image: $phone-bg-mobile, $rect-bg-mobile;
  background-repeat: no-repeat, no-repeat;
  // background-position: 20px 280px, 0 280px;
  background-position: right 27% top 99.7%, 0 55.6%;
  background-size: 292px 353px, 113px 132px;
  border-bottom-left-radius: $bottom-radii;
  border-bottom-right-radius: $bottom-radii;
  position: relative;
  z-index: 999;

  @media (min-resolution: 2dppx) {
    background-image: $phone-bg-mobile-2x, $rect-bg-mobile;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    background-color: $dcg-10;
  }

  @media (min-width: $tablet-width) {
    padding-top: 278px;
    padding-bottom: 89px;
    background-image: $phone-bg-tablet, $rect-bg-tablet;
    // background-position: 384px 285px, 40px 237px;
    background-position: right 2% top 76.3%, 50% 33.4%;
    background-size: 376px 548px, 688px 212px;
    border-bottom-left-radius: $bottom-radii-tablet;
    border-bottom-right-radius: $bottom-radii-tablet;

    @media (min-resolution: 2dppx) {
      background-image: $phone-bg-tablet-2x, $rect-bg-tablet;
    }
  }

  @media (min-width: $desktop-width) {
    @include overlap--bottom(999, $bottom-radii-tablet);
    padding-top: 195px;
    padding-bottom: 163px;
    background-image: $phone-bg-desktop, $quadrate-bg-desktop;
    // background-position: 750px 85px, 60px 70px;
    background-position: right 7.4% top 99.6%, 4.9% 21.7%;
    background-size: 630px 665px, 212px 212px;

    @media (min-resolution: 2dppx) {
      background-image: $phone-bg-desktop-2x, $quadrate-bg-desktop;
    }
  }
}

.about-service__heading {
  @media (min-width: $desktop-width) {
    margin-top: -3px;
  }
}

.about-service__main-text {
  width: 211px;
  margin-top: 19px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 308px;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    line-height: 34px;
    width: 619px;
    margin-top: 57px;
  }
}

.about-service__additional-text {
  width: 202px;
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
    width: 265px;
    margin-top: 27px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    line-height: 24px;
    width: 425px;
    margin-top: 38px;
    margin-bottom: 85px;
  }
}

.about-service__more {
  @media (min-width: $tablet-width) {
    width: 276px;
  }
}

.about-service__span {
  @media (min-width: $tablet-width) {
    @include words-splitter;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
