.results-pagination {
  display: flex;
  width: 270px;
  height: 51px;
  background-color: $lcg-1;
  border-radius: 20px;

  @include centering-margins;

  @media (min-width: $tablet-width) {
    width: 688px;
    height: 100px;
    padding-left: 28px;
    padding-right: 35px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 949px;
    margin-left: 60px;
  }
}

.results-pagination__pages {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
}

// .results-pagination__page {}

.results-pagination__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $dcg-1;

  @media (min-width: $tablet-width) {
    @include centering-grid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
  }

  &--active {
    @media (min-width: $tablet-width) {
      background-color: $mcg-1;
    }
  }
}

.results-pagination__buttons {
  display: flex;

  @media (max-width: $mobile-width-only) {
    flex-grow: 1;
    background-image: $pagination-arrows-spliter;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.results-pagination__button {
  @include centering-flex;
  flex-grow: 1;

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid $dcg-1;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  &--previous {
    &::before {
      border-left-width: 0;

      @media (min-width: $tablet-width) {
        margin-right: 33px;
      }
    }
  }

  &--next {
    &::before {
      border-right-width: 0;
    }
  }
}
