
.results-pagination {
  width: 270px;
  height: 51px;
  margin-left: auto;
  margin-right: auto;
  background-color: $lcg-1;
  border-radius: 20px;

  display: flex;

  // &__pages {}

  // &__page {}

  &__buttons {
    flex-grow: 1;

    display: flex;
    background: $pagination-arrows-spliter center no-repeat;
  }

  &__previous {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__previous::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid $dcg-1;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-width: 0;
  }

  &__next {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__next::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid $dcg-1;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-width: 0;
  }
}
