.customized-bar {
  &--catalog {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      display: flex;
      align-items: flex-start;
    }
  }
}

.customized-bar__level-wrapper {
  display: flex;
  align-items: center;
  width: 220px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid $lcg-7;
  border-radius: 4px;
  background-color: $lcg-1;
  background-image: $customized-bar-lines-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 35px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    width: 148px;
    margin-top: -4px;
    background-size: 21px 46px;
  }

  @media (min-width: $tablet-width) {
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 192px;
    height: 46px;
    background-size: 20px 46px;
  }
}

.customized-bar__level-input {
  border: none;
  outline: none;
  width: 50px;
  margin-top: 4px;
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    font-size: 20px;
    line-height: 20px;
    width: 40px;
  }

  @media (min-width: $tablet-width) {
    letter-spacing: 0.04em;
  }

  &--initial {
    margin-left: 27px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      margin-left: 15px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 21px;
    }
  }

  &--final {
    margin-left: 54px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      margin-left: 27px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 37px;
    }
  }
}

.customized-bar__controls-wrapper {
  width: 220px;
  height: 10px;
  margin-top: 24px;
  position: relative;

  &--catalog {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      width: 275px;
      height: 13px;
      border-radius: 2px;
      order: -1;
      margin-right: 68px;
      margin-top: 17px;
    }

    @media (min-width: $desktop-width) {
      width: 189px;
      margin-top: 35px;
    }
  }
}

.customized-bar__bar-shell {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 2px;
  background-color: $dcg-13;

  @media (min-width: $tablet-width) {
    height: 3px;
  }
}

.customized-bar__bar-fill {
  width: 68%;
  height: 3px;
  background-color: $dcg-1;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    width: 60%;
    height: 100%;
  }
}

.customized-bar__bar-handle {
  position: absolute;
  top: -4px;
  width: 0;
  height: 0;
  border: 5px solid $dcg-1;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    border-width: 6px;
    background-color: $dcg-1;
    top: -5px;
  }

  &--initial {
    left: 31%;

    @media (min-width: $tablet-width) {
      left: 37%;
    }

    @media (min-width: $desktop-width) {
      left: 31%;
    }
  }

  &--final {
    left: 96%;

    @media (min-width: $tablet-width) {
      left: 98%;
    }

    @media (min-width: $desktop-width) {
      left: 95%;
    }
  }
}
