.add-plan {
  margin-top: - ($bottom-radii);
  padding-top: 30px;
  background-color: $lcg-5;
  z-index: 1002;
  border-top-left-radius: $bottom-radii;
  border-top-right-radius: $bottom-radii;

  &--border-with-radius {
    border: 1px solid $lcg-7;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &--without-border {
    border: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 53px;
  }

  &--common-letter-spacing {
    letter-spacing: 0.09em;
  }
}

// .add-plan__container {}

// .add-plan__heading {}

.add-plan__step-indicator {
  position: absolute;

  @media (min-width: $tablet-width) {
    top: 66px;
    left: 619px;
  }

  &--initial {
    @media (max-width: $mobile-width-only) {
      top: -65px;
      left: 205px;
    }
  }
}

.add-plan__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  padding-top: 80px;
  border: none;
  position: relative;

  &:first-of-type {
    margin-top: 29px;
  }

  &:last-child {
    margin-bottom: 43px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 155px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
  }
}

.add-plan__legend {
  position: absolute;
  top: 24px;
  left: 25px;

  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: $dcg-1;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    top: 48px;
    left: 40px;
  }

  @media (min-width: $desktop-width) {
    top: 101px;
    left: 159px;
  }
}

.add-plan__legend-span {
  @include words-splitter;
  width: 163px;
}

.add-plan__box {
  width: 220px;

  @media (min-width: $tablet-width) {
    width: 538px;
  }

  @media (min-width: $desktop-width) {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, min-content);
  }
}

.add-plan__main-text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $dcg-9;
  background-color: transparent;

  &--step-3 {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.add-plan__main-parameters-wrapper {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  &--companions-amount {
    @media (min-width: $desktop-width) {
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  &--travel-time {
    @media (min-width: $desktop-width) {
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }
}

.add-plan__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  color: $dcg-1;


  &--main-parameters {
    margin-top: 20px;

    @media (min-width: $desktop-width) {
      position: relative;
      width: auto;
      margin-top: 0;
    }

    &::after {
      opacity: 0.3;

      @media (min-width: $desktop-width) {
        position: absolute;
        top: 50%;
        left: 435px;
        opacity: 1;
        transform: translateY(-50%);
      }
    }
  }

  &--amount {
    @media (min-width: $desktop-width) {
      margin-right: 57px;
    }

    &::after {
      content: "Чел.";
    }
  }

  &--duration {
    @media (min-width: $desktop-width) {
      margin-right: 74px;
    }

    &::after {
      content: "Дн.";
    }
  }

  &--children {
    justify-content: flex-start;
    position: relative;
    margin-top: 20px;
    padding-left: 40px;
    padding-top: 8px;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-transform: none;
    color: $dcg-1;

    @media (min-width: $desktop-width) {
      grid-column-start: 6;
      grid-column-end: 8;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &::before {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      border: 1px solid $lcg-7;
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.add-plan__check-mark {
  display: none;
  position: absolute;
  top: 8px;
  left: 10px;
}

.add-plan__main-parameters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 8px;

  // &--companions-amount {}

  &--travel-time {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 180px;
  }
}

.add-plan__main-parameters-button {
  padding-left: 14px;
  padding-right: 14px;

  &--minus {
    padding-top: 21px;
    padding-bottom: 18px;
  }

  &--plus {
    padding-top: 13px;
    padding-bottom: 12px;
  }
}

.add-plan__input {
  width: 134px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  outline: none;

  font-size: 14.86px;
  font-weight: 500;
  line-height: 14px;
  color: $dcg-1;

  text-align: center;

  &--main-parameters {
    padding-top: 8px;

    @media (min-width: $desktop-width) {
      width: 96px;
    }
  }

  // &--companions {}

  // &--travel-days {}

  &--for-children {
    @include visually-hidden;

    &:checked + .add-plan__check-mark {
      display: block;
    }
  }

  &--chosen-country {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: $dcg-1;

    width: 168px;
    height: 42px;
    text-align: left;

    @media (min-width: $tablet-width) {
      width: 369px;
      height: 70px;
    }
  }

  &--specify-country {
    @media (max-width: $mobile-width-only) {
      width: 220px;
    }
  }

  &--refilled {
    background-color: $dcg-1;
    color: $lcg-1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.add-plan__calendar {
  margin-top: 26px;

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}

.add-plan__next-step {
  margin-top: 20px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

.add-plan__previous-step {
  margin-top: 13px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    float: right;
    width: auto;
    margin-top: -110px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 7;
    float: none;
    margin-top: 40px;
  }

  &::before {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      margin-right: 19px;
    }
  }
}

.add-plan__countries {
  margin-top: 22px;

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;
  }
}

.add-plan__country {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 22px;

  // &--specify-country {}

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      padding-right: 40px;
    }
  }
}

.add-plan__flag {
  display: grid;
  place-items: center;

  &--chosen-country-flag {
    width: 53px;
    height: 42px;
    border-left: none;

    @media (min-width: $tablet-width) {
      width: auto;
      height: min-content;
      border: none;
    }
  }

  &--jollity {
    width: auto;
    height: min-content;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);

    @media (min-width: $desktop-width) {
      position: static;
      transform: translateX(0);

      grid-column-start: 6;
      grid-column-end: 8;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }
}

// .add-plan__flag-img {}

.add-plan__country-button {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);

  &--drop-down {
    top: 50%;
    left: 115px;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      left: 330px;
    }
  }

  &--close {
    @media (min-width: $tablet-width) {
      top: 50%;
    }
  }

  &--close-list {
    top: 20px;
    left: 190px;
    transform: translate(50%, 50%);

    @media (min-width: $tablet-width) {
      top: 25px;
      left: 320px;
    }
  }

  &--specify-country {
    top: 1px;
    left: 167px;
    transform: translate(0);

    @media (min-width: $tablet-width) {
      top: 50%;
      left: 330px;
      transform: translateY(-50%);
    }
  }
}

.add-plan__lands {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1001;
}

.add-plan__add-country {
  width: 220px;
  height: 42px;
  border: none;
  outline: none;
  border-radius: 5px;

  font-size: 14.86px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  background-color: $lcg-2;
  color: $dcg-1;

  @media (min-width: $tablet-width) {
    width: 369px;
    height: 70px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}

.add-plan__jollity-list {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 6;
  }
}

.add-plan__jollity-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, min-content);
  }
}

.add-plan__land-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: $dcg-1;

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.add-plan__jollity-variants {
  width: 100%;
  margin-top: 18px;
  border: 1px solid $lcg-7;
  border-radius: 5px;
  resize: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $dcg-9;

  @media (min-width: $desktop-width) {
    width: 730px;
    height: 142px;

    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.add-plan__submit {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}
