.avatar {
  display: block;
  width: min-content;
}

.avatar__photo {
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 285px;
  }

  &--form {
    @media (min-width: $tablet-width) {
      width: 94px;
      height: 94px;
    }

    @media (min-width: $desktop-width) {
      width: 190px;
      height: 190px;
      border-radius: 0;
    }
  }

  &--catalog {
    // border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 190px;
      height: 190px;
      // border-radius: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 285px;
      height: 285px;
    }
  }
}
