.button {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 270px;
  height: 40px;
  color: $dcg-2;
  background-color: $mcg-1;
  border-radius: 20px;
  cursor: pointer;

  // &--triangular-pointer {
  //   &::after {}
  // }

  &--more {
    padding-left: 23px;
    padding-right: 23px;

    @media (min-width: $desktop-width) {
      width: 275px;
    }
  }

  &--route {
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid $dcg-4;

    &:hover {
      color: $lcg-1;
      background-color: $dcg-4;

      &::after {
        border-left-color: $lcg-1;
      }
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }
  }

  &--more-and-route {
    height: 62px;
    justify-content: space-between;
    font-weight: 700;
    color: $dcg-1;
    border-radius: 10px;

    @media (max-width: $mobile-width-only) {
      font-size: 18px;
      line-height: 18px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      width: 618px;
    }

    @media (min-width: $tablet-width) {
      height: 80px;
      padding-top: 5px;
      padding-right: 32px;
      padding-left: 32px;
      border-radius: 20px;
    }
  }

  &--with-arrow {
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 13px * 0.87 solid $dcg-1;
      border-top: 13px * 0.5 solid transparent;
      border-bottom: 13px * 0.5 solid transparent;
      border-right-width: 0;
    }
  }

  &--with-back-arrow {
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-right: 13px * 0.87 solid $dcg-1;
      border-top: 13px * 0.5 solid transparent;
      border-bottom: 13px * 0.5 solid transparent;
      border-left-width: 0;
    }

    &:active {
      &::before {
        opacity: 0.3;
      }
    }
  }

  &--with-pointer {
    &:active {
      &::before,
      &::after {
        opacity: 0.3;
      }
    }
  }

  // &--wide {
  //   @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  //     width: 618px;
  //   }
  // }

  &--roll-and-change {
    width: 270px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &--change-photo {
    line-height: 18px;
    background-color: $lcg-4;
    color: $dcg-6;

    @media (min-width: $tablet-width) {
      width: 618px;
      height: 60px;
      border-radius: 10px;
      letter-spacing: 0.09em;
      color: $dcg-1;
    }

    @media (min-width: $desktop-width) {
      width: 190px;
      height: 47px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      letter-spacing: normal;
    }
  }

  &--roll-up {
    line-height: 20px;
    background-color: $lcg-9;
    color: $dcg-4;
  }

  &--roll-up-catalog {
    @media (min-width: $tablet-width) {
      width: 615px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--sign {
    width: auto;
    height: auto;
    background-color: transparent;
  }

  &--drop-down {
    width: 57px;
    // height: 36px;
    height: 90%;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 5px;
    border-radius: 0;
    background-image: $drop-down-button-bg;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $tablet-width) {
      // width: 20px;
      // height: 17px;
      // background-image: none;
      // border: 1px dashed red;
      width: 65px;
      justify-content: center;
    }
  }

  // &--close {}

  // &--math-sign {}

  // &--minus {}

  // &--plus {}

  &--common-text-set-one {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
      text-transform: none;
    }
  }

  &--common-text-set-two {
    line-height: 30px;
    color: $dcg-1;
  }

  &--next-step {
    width: 220px;
  }

  &--previous-step {
    width: 100%;
    letter-spacing: 0.01px;
    background-color: transparent;
  }

  &--form-submit {
    width: 230px;
    margin-left: -5px;
  }

  &--forward-steps {
    @media (min-width: $tablet-width) {
      width: 284px;
      height: 80px;
      border-radius: 20px;
      justify-content: space-between;
      padding-left: 33px;
      padding-right: 33px;
    }

    &::after {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }

  &--invite-show {
    width: 230px;
    border-radius: 25px;
    line-height: 17px;
    color: $dcg-6;
  }

  &--show {
    background-color: $lcg-1;
  }

  &--show-catalog {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &--invite {
    background-color: $mcg-1;

    @media (min-width: $tablet-width) {
      width: 150px;
      height: 50px;
    }
  }

  &--show-more {
    width: max-content;
    height: min-content;
    margin: 20px auto 0;
    background-color: transparent;

    svg {
      margin-bottom: 5px;
      margin-right: 15px;
    }
  }

  // &--counter-directional-pointers {
  //   &::before {}
  // }

  // &--counter-directional-pointers {
  //   &::after {}
  // }

  &--invisible {
    display: none;
  }
}

.button__roll-up-svg {
  margin-right: 12px;
}

.button__close-svg {
  &--round {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--casual {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &--white {
    @media (min-width: $tablet-width) {
      width: 22px;
      height: 21px;
      opacity: 0.3;
    }
  }
}

.button__svg-math {
  @media (min-width: $tablet-width) {
    width: 20px;
  }

  &--minus {
    @media (min-width: $tablet-width) {
      height: 4px;
    }
  }

  &--plus {
    @media (min-width: $tablet-width) {
      height: 20px;
    }
  }
}

.button__svg-line {
  &--white {
    stroke: $lcg-1;
  }
}

.button__drop-down-svg {
  @media (min-width: $tablet-width) {
    transform: scale(1.4);
  }
}
