@keyframes revolution {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, -200%);
  }

  40% {
    transform: translate(100%, -200%);
  }

  60% {
    transform: translate(100%, 200%);
  }

  80% {
    transform: translate(0, 200%);
  }

  100% {
    transform: translate(0, 0);
  }
}
