// overlap
@mixin overlap--bottom($i, $padding-top-initial, $border-radius) {
  position: relative;
  z-index: $i;
  padding-top: $padding-top-initial + $border-radius;
  margin-top: - ($border-radius);
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

// outline
@mixin outline($width, $type, $color) {
  outline: $width $type $color;
  outline-offset: - $width;
}

// grid-for-mains
@mixin grid-for-mains {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}

// grid-for-desktop
@mixin grid-for-desktop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 60px;
}
