// overlap
@mixin overlap--bottom($i, $border-radius) {
  position: relative;
  z-index: $i;
  margin-top: -($border-radius);
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

// outline
@mixin outline($width, $type, $color) {
  outline: $width $type $color;
  outline-offset: -$width;
}

// centering-margins
@mixin centering-margins {
  margin-right: auto;
  margin-left: auto;
}

// centering-flex
@mixin centering-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// centering-grid
@mixin centering-grid {
  display: grid;
  place-items: center;
}

// grid-for-mains
@mixin grid-for-mains {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}

// grid-for-desktop
@mixin grid-for-desktop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 60px;
}

// words-splitter
@mixin words-splitter {
  display: inline-block;
  vertical-align: middle;
  width: inherit;
}
