
// viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// darken color`s group ( dcg )
$dcg-1: #1d2e5b;
$dcg-2: #161c36;
$dcg-3: #000000;
$dcg-4: #192144;
$dcg-6: #161c35;
$dcg-7: #132576;
$dcg-8: #121936;
$dcg-9: #444444;
$dcg-10: #182044;
$dcg-11: #161c34;

// middle color`s group ( mcg )
$mcg-1: #ffd74b;
$mcg-2: #ff8d30;
$mcg-3: #ff5c23;
$mcg-4: #f3c72b;
$mcg-5: #ffa530;
$mcg-6: #ffbd30;
$mcg-7: #81e31e;
$mcg-8: #f97676;

// lighten color`s group ( lcg )
$lcg-1: #ffffff;
$lcg-2: #edeff6;
$lcg-3: #e6e8f1;
$lcg-4: #dfe3f0;
$lcg-5: #d4d9eb;
$lcg-6: #afb0b5;
$lcg-7: #cbced9;
$lcg-8: #e2e5f2;
$lcg-9: #d6daed;
$lcg-10: #b9bbc2;
$lcg-11: #cccccc;

//blok`s background images
$intro-bg-image-1: url("../img/intro/bg/traveller-illustration-mobile-1.svg");
$intro-bg-image-2: url("../img/intro/bg/globe-back-mobile-1.svg");
$intro-bg-image-3: url("../img/intro/bg/data-rect.svg");
$intro-bg-image-4: url("../img/intro/bg/globe-back-tablet.svg");
$intro-bg-image-5: url("../img/intro/bg/globe-back-desktop.svg");
$about-service-bg-image-1: url("../img/about-service/about-mobile.svg");
$about-service-bg-image-2: url("../img/about-service/back.svg");
$about-service-bg-image-3: url("../img/about-service/down-back-image.svg");
$fellow-travelers-bg-image-1: url("../img/fellow-travelers/rogovaya-back-desktop.png");
$fellow-travelers-bg-image-2: url("../img/fellow-travelers/smolov-back-desktop.png");
$fellow-travelers-bg-image-3: url("../img/fellow-travelers/back.svg");
$site-nav-button-bg-image: url("../img/nav-menu-icon/icon_menu_mobile.svg");
$pagination-arrows-spliter: url("../img/pagination/bg-spliter.svg");
$applicants-icon: url("../img/directions/applicants-icon.png");
$text-box-bg-image: url("../img/circle-bar/bg/line.svg");
$profile-items-wrapper-bg-image: url("../img/profile/bg/line.svg");
$profile-bg-image: url("../img/profile/bg/rates.svg");

// icons
$email-icon-1: url("../img/email/email-icon-1.svg");
$email-icon-2: url("../img/email/email-icon-2.svg");
$telephone-icon-1: url("../img/telephone/telephone-icon-1.svg");
$telephone-icon-2: url("../img/telephone/telephone-icon-2.svg");

// other
$bottom-radii: 30px;
