
// darken color`s group ( dcg )
$dcg-1: #1d2e5b;
$dcg-2: #161c36;
$dcg-3: #000000;
$dcg-4: #192144;
$dcg-6: #161c35;
$dcg-7: #132576;
$dcg-8: #121936;
$dcg-9: #444444;

// middle color`s group ( mcg )
$mcg-1: #ffd74b;
$mcg-2: #ff8d30;

// lighten color`s group ( lcg )
$lcg-1: #ffffff;
$lcg-2: #edeff6;
$lcg-3: #e6e8f1;

// $basic-blue: #161c36;
// $basic-yellow: #ffd74b;
// $basic-white: #ffffff;
// $basic-black: #000000;
// $basic-blue-light:#1d2e5b;
// $special-orange: #ff8d30;
// $special-grey: #444444;
// $blue-1: #192144;
// $blue-2: #161c35;
// $blue-3: #132576;
// $blue-4: #121936;
// $gray-1: #edeff6;
// $gray-2: #e6e8f1;

//blok`s background images
$intro-bg-image-1: url("../../img/intro/bg/traveller-illustration-mobile-1.svg");
$intro-bg-image-2: url("../../img/intro/bg/globe-back-mobile-1.svg");
$intro-bg-image-3: url("../../img/intro/bg/rectangle-back.svg");
$about-service-bg-image-1: url("../../img/about-service/about-mobile.svg");
$about-service-bg-image-2: url("../../img/about-service/back.svg");
$about-service-bg-image-3: url("../../img/about-service/down-back-image.svg");
$fellow-travelers-bg-image-1: url("../../img/fellow-travelers/rogovaya-back-desktop.png");
$fellow-travelers-bg-image-2: url("../../img/fellow-travelers/smolov-back-desktop.png");
$fellow-travelers-bg-image-3: url("../../img/fellow-travelers/back.svg");
$site-nav-button-bg-image: url("../../img/nav-menu-icon/icon_menu_mobile.svg");

// icons
$email-icon-1: url("../../img/email/email-icon-1.svg");
$telephone-icon-1: url("../../img/telephone/telephone-icon-1.svg");

// initial top paddings
$directions-ini-padding-top: 71px;
$fellow-travelers-ini-padding-top: 68px;
$profile-ini-padding-top: 53px;
$if-interested-ini-padding-top: 72px;
$map-ini-padding-top: 33px;

// other
$border-radius: 30px;
