
.socials {
  &--in-site-menu {
    padding-top: 40px;
    padding-bottom: 35.5px;

    @media (min-width: $tablet-width) {
      padding-top: 129px;
      padding-bottom: 84px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--tablet-left {
    @media (min-width: $tablet-width) {
      justify-content: flex-start;
    }
  }
}

.socials__list {
  width: min-content;
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    margin-left: 83px;
  }
}

.socials__item {
  margin-left: 27px;

  &--facebook {
    margin-left: 0;
  }

  &--vk {
    @media (min-width: $tablet-width) {
      margin-left: 37px;
    }
  }

  &--insta {
    @media (min-width: $tablet-width) {
      margin-left: 33px;
    }
  }
}

// .socials__link {}

.socials__svg {
  &--facebook {
    @media (min-width: $tablet-width) {
      width: 14px;
      height: 28px;
    }
  }

  &--vk {
    @media (min-width: $tablet-width) {
      width: 31px;
      height: 16px;
    }
  }

  &--insta {
    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }
  }
}
