.socials {
  display: flex;
  justify-content: center;
  align-items: center;

  &--tablet-left {
    @media (min-width: $tablet-width) {
      justify-items: start;
    }
  }
}

.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;

  &--in-site-menu {
    @media (max-width: $mobile-width-only) {
      @include centering-margins;
    }
  }
}

// .socials__item {}

.socials__link {
  @include centering-grid;
  width: 45px;
  height: 45px;

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 62px;
  }

  &--in-site-menu {
    background-color: currentColor;
  }

  &--in-footer {
    background-color: $mcg-1;
    border-radius: 50%;
  }
}

.socials__svg {
  &--facebook {
    @media (min-width: $tablet-width) {
      width: 14px;
      height: 28px;
    }
  }

  &--vk {
    @media (min-width: $tablet-width) {
      width: 31px;
      height: 16px;
    }
  }

  &--insta {
    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }

    &.socials__svg--in-site-menu {
      @media (min-width: $tablet-width) {
        margin-top: 3px;
      }
    }
  }

  &--in-site-menu {
    &:hover {
      & .socials__svg-path {
        fill: $lcg-17;
      }
    }

    &:active {
      & .socials__svg-path {
        fill: $lcg-18;
      }
    }
  }

  &--in-footer {
    &:hover {
      & .socials__svg-ellipse {
        fill: $mcg-9;
      }
    }

    &:active {
      & .socials__svg-path {
        opacity: 0.3;
      }
    }
  }
}

.socials__svg-group {
  &--in-footer {
    opacity: 1;
  }
}

// .socials__svg-path {}

// .socials__svg-ellipse {}
