
.socials {
  display: flex;
  justify-content: center;
  align-items: center;

  &--tablet-left {
    @media (min-width: $tablet-width) {
      justify-content: flex-start;
    }
  }

  &--invisible {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.socials__list {
  display: flex;
  width: min-content;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.socials__item {
  &:not(:nth-child(1)) {
    margin-left: 27px;
  }
}
