
.map {
  position: relative;
  z-index: -5;

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__wrapper {
    background-color: $mcg-1;
    padding-top: 33px + $bottom-radii;
    margin-top: - ($bottom-radii);
    border-bottom-left-radius: $bottom-radii;
    border-bottom-right-radius: $bottom-radii;
  }

  &__address {
    color: $dcg-1;
    text-transform: uppercase;

    @media (min-width: $desktop-width) {
      margin-left: 223px;
    }
  }

  &__route {
    width: 100%;

    @media (min-width: $desktop-width) {
      width: 324px;
      height: 80px;
      margin-right: 75px;
    }
  }

  // &__in-farme {}
}
