.lands {
  background-color: $lcg-1;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $lcg-7;
  border-top: none;

  &--common-text-style {
    color: $dcg-4;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--form {
    @media (min-width: $tablet-width) {
      display: flex;
      width: 575px;
      border: none;
      box-shadow: 0 8px 16px $shadow-1;
    }

    @media (min-width: $desktop-width) {
      width: 730px;
    }
  }

  &--catalog {
    border: none;
  }

  &--invisible {
    display: none;
  }
}

// .lands__container {}

.lands__uppper-box {
  display: flex;
  flex-wrap: wrap;
}

.lands__heading {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.lands__roll-down-button {
  width: auto;
  height: auto;
  background-color: transparent;
  border-radius: 0;
  margin-right: 0;
  margin-left: 24px;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

// .lands__show-all {}

// .lands__ellipsis {}

.lands__roll-up {
  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 62px;
  }
}

// .lands__cross {}

.lands__regions {
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    order: -1;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-right: 80px;
    margin-left: 32px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.lands__region {
  opacity: 0.3;

  &--active {
    opacity: 1;
  }

  &:not(:first-child) {
    @media (min-width: $tablet-width) {
      margin-left: 28px;
    }
  }
}

.lands__link {
  text-transform: uppercase;
  line-height: 18px;
  white-space: nowrap;

  @media (max-width: $mobile-width-only) {
    font-size: 16px;
  }

  // &--region {}

  &--letter {
    @include centering-grid;
    font-weight: 500;
    color: $dcg-1;

    width: 100%;
    height: 100%;
    background-color: $lcg-1;

    @media (max-width: $mobile-width-only) {
      font-size: 14px;
    }
  }

  &--letter-form {
    @media (min-width: $tablet-width) {
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 58px;
      height: 68px;
      border: 1px solid $lcg-7;
      border-radius: 4px;
    }
  }

  &--letter-catalog {
    line-height: 14px;
  }

  &--country {
    line-height: 22px;
    font-weight: 400;
    text-transform: none;
    color: $dcg-9;

    @media (min-width: $tablet-width) {
      letter-spacing: normal;
    }
  }
}

.lands__down-box {
  &--form {
    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, min-content);
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.lands__letter-indexes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 40px);
  justify-content: center;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: $lcg-7;
  border-bottom: 1px solid $lcg-7;

  @media (min-width: $tablet-width) {
    width: 262px;
    grid-template-rows: repeat(5, 1fr);
    margin: 35px 0 33px 27px;
    border: 1px solid $lcg-7;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    height: 346px;
  }

  &--form {
    @media (min-width: $tablet-width) {
      margin-right: 78px;
    }

    @media (min-width: $desktop-width) {
      width: 361px;
      margin-left: 26px;
      margin-right: 102px;
      margin-top: 36px;

      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, min-content);
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      background-color: $lcg-1;
      border: none;
    }
  }

  &--catalog {
    margin-top: 26px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

// .lands__letter-index {}

.lands__data {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 19px;

  @media (min-width: $tablet-width) {
    margin: 37.46px auto 56.71px 105px;
    padding: 0;
  }

  &--form {
    @media (min-width: $tablet-width) {
      margin: 0;
      padding-bottom: 33px;
      padding-top: 36px;
      padding-left: 24px;
      height: 100%;
      border-left: 1px solid $lcg-23;
      box-sizing: border-box;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.lands__item {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    flex-basis: 210px;
    // flex-grow: 1;
  }

  &:not(:nth-child(5n+1)) {
    @media (min-width: $desktop-width) {
      margin-left: 40px;
    }
  }

  &--active {
    display: block;
  }
}

.lands__alphabetical-box {
  &--form {
    max-width: 180px;
    max-height: 345px;
    overflow: auto;

    @media (min-width: $tablet-width) {
      max-width: 165px;
    }

    @media (min-width: $desktop-width) {
      max-height: 405px;
    }
  }
}

.lands__alphabetical-index {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: $dcg-4;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

// .lands__sublist {
//   &--a {}
// }

.lands__subitem {
  &--form {
    height: 20px;
    margin: 5px 0 0;

    &:first-child {
      margin-top: 0;
    }

    &--higher {
      height: 21px;
    }

    @media (min-width: $tablet-width) {
      height: 21px;
      margin-top: 9px;
    }
  }
}

.lands__roll-up-button {
  &--catalog {
    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}
