@import "../../../1-variables/variables";

.intro__box-lower {
  width: 100%;
  background-color: $blue-2;
  background-image: $intro-bg-image-3;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, bottom;
  background-size: auto, cover;
}
