@import "../1-variables/variables";

//mixin overlap
@mixin overlap($i, $padding-top-initial, $border-radius) {
  position: relative;
  z-index: $i;
  padding-top: $padding-top-initial + $border-radius;
  margin-top: - ($border-radius);
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
