
.user-transport {
  @include centering-flex;

  // &--form {
  //   @include centering-flex;
  // }

  &--catalog {
    justify-content: flex-start;
    margin-top: 4px;
    margin-left: -1px;
    margin-bottom: 19px;
  }
}

.transport__heading {
  &--catalog {
    @media (max-width: $mobile-width-only) {
      display: block;
      margin: 0;
      font-size: 15px;
      font-weight: 400;
      line-height: 16px;
      color: $dcg-9;
      text-transform: lowercase;
    }
  }
}

.user-transport__checkbox {
  &:checked {
    & + .user-transport__label {
      .user-transport__svg {
        fill: $dcg-1;

        &--aircraft {
          fill: $dcg-14;
        }
      }
    }

    & + .user-transport__label:hover {
      .user-transport__svg {
        fill: $lcg-28;
      }
    }

    & + .user-transport__label:active {
      .user-transport__svg {
        fill: $lcg-29;
      }
    }
  }
}

.user-transport__label {
  @include centering-grid;
  width: 31.52px;
  height: 31.52px;
  border-radius: 50%;
  background-color: $lcg-1;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
  }

  &--catalog {
    width: 31.27px;
    height: 31.27px;

    &:not(:first-child) {
      margin-left: 1.73px;
    }
  }

  &:hover {
    filter: drop-shadow(0 2px 6px $dcg-17);

    .user-transport__svg {
      fill: $lcg-31;
    }
  }

  &:active {
    background-color: $lcg-30;

    .user-transport__svg {
      fill: $lcg-33;
    }
  }
}

.user-transport__svg {
  fill: $lcg-32;

  // &--aircraft {}

  // &--bus {}

  // &--bycicle {}

  // &--runner {}

  // &--catalog {}

  &--aircraft-catalog {
    transform: scale(0.8);
  }

  &--bus-catalog {
    transform: scale(0.95);
  }

  &--bycicle-catalog {
    transform: scale(0.6);
  }

  &--runner-catalog {
    transform: scale(0.75);
  }
}

// .user-transport__svg-path {}
