
.user-transport {
  &--form {
    @include centering-flex;
  }
}

.user-transport__label {
  @include centering-grid;
  width: 31.52px;
  height: 31.52px;
  border-radius: 50%;
  background-color: $lcg-1;
}

// .user-transport__aircraft-icon {}

// .user-transport__bus-icon {}

// .user-transport__bycicle-icon {}

// .user-transport__runer-icon {}
