
.user-transport {
  &--form {
    @include centering-flex;
  }
}

.transport__heading {
  &--catalog {
    @media (max-width: $mobile-width-only) {
      display: block;
      margin: 0;
      font-size: 15px;
      font-weight: 400;
      line-height: 16px;
      color: $dcg-9;
      text-transform: lowercase;
    }
  }
}

.user-transport__checkbox {
  &:checked ~ .user-transport__svg {
    opacity: 1;
  }
}

.user-transport__label {
  @include centering-grid;
  width: 31.52px;
  height: 31.52px;
  border-radius: 50%;
  background-color: $lcg-1;
}

.user-transport__svg {
  opacity: 0.15;

  // &--aircraft {}

  // &--bus {}

  // &--bycicle {}

  // &--runner {}
}

// .user-transport__svg-path {}
