.catalog-main {
  background-color: $lcg-2;

  @media (min-width: $tablet-width) {
    position: relative;
  }

  // &--left-alignment {
  //   text-align: left;
  // }
}

// .catalog-main__general-heading {}

.catalog-main__land-filter {
  margin-top: -20px;
}

.catalog-main__upper-button {
  border: none;
  outline: none;
  margin-left: 23px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

// .catalog-main__ellipsis-svg {}

// .catalog-main__cross-svg {}

// .catalog-main__lands {}

.catalog-main__holder {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    padding-top: 151px;
  }
}

// .catalog-main__reserved-checkboxes {}

// .catalog-main__companions-selection {}

// .catalog-main__selection-results {}

.catalog-main__results-pagination {
  margin-top: 18px;
  margin-bottom: 46px;
}
