@import "../../../1-variables/variables";

.intro__box-upper {
  width: 100%;
  background-color: $basic-blue;
  background-image: $intro-bg-image-1, $intro-bg-image-2;
  background-repeat: no-repeat, no-repeat;
  background-position: 55% 100%, center;
  background-size: auto, cover;
}
