
// .contacts-group {
//   &--inline {}

//   &--initial {}
// }

.contacts-group__contact {
  font-weight: 700;
  line-height: 18px;
  color: $dcg-4;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  // &--inline {}

  &--initial {
    &:hover {
      color: $mcg-6;

      & .contacts-group__svg-path {
        &--initial {
          fill: $mcg-6;
        }
      }
    }

    &:active {
      & .contacts-group__span {
        opacity: 0.3;
      }

      & .contacts-group__svg-path {
        &--initial {
          opacity: 0.3;
        }
      }
    }
  }
}

.contacts-group__telephone {
  // &--inline {}

  // &--initial {}

  &--in-site-menu {
    margin-top: 51px;
  }

  &--for-interested {
    @media (min-width: $desktop-width) {
      margin-right: 110px;
    }
  }
}

.contacts-group__email {
  // &--inline {}

  &--initial {
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-right: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 31px;
    }
  }
}

.contacts-group__svg {
  // &--inline {}

  &--inline-telephone {
    &:hover {
      & .contacts-group__svg-circle {
        fill: $mcg-10;
      }
    }
  }

  &--inline-mail {
    &:hover {
      & .contacts-group__svg-circle {
        fill: $mcg-2;
      }
    }
  }

  &--initial {
    margin-right: 17px;

    @media (min-width: $tablet-width) {
      width: 68px;
      height: 68px;
      margin-right: 23px;
    }

    @media (min-width: $desktop-width) {
      width: 90px;
      height: 90px;
    }
  }

  // &--initial-telephone {}

  // &--initial-mail {}

  &:active {
    & .contacts-group__svg-path {
      opacity: 0.3;
    }
  }
}

// .contacts-group__svg-circle {
//   &--inline {}

//   &--inline-telephone {}

//   &--inline-mail {}

//   &--initial {}

//   &--initial-telephone {}

//   &--initial-mail {}
// }

// .contacts-group__svg-path {
//   &--inline {}

//   &--inline-telephone {}

//   &--inline-mail {}

//   &--initial {}

//   &--initial-telephone {}

//   &--initial-mail {}
// }

.contacts-group__span {
  // &--telephone {}

  // &--email {}

  &--inverse {
    color: $mcg-1;

    &:hover {
      color: $mcg-6;
    }
  }

  &--inline {
    display: none;
  }
}

.contacts-group__authorization {
  order: -1;

  &--inline {
    order: 0;
  }
}
