
.contacts-group {
  &__telephone,
  &__email {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 18px;
    color: $dcg-4;
  }

  &__telephone {
    margin-top: 51px;
  }

  &__telephone::before,
  &__email::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 17px;

    background-color: $dcg-8;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

  &__telephone::before {
    background-image: $telephone-icon-1;
  }

  // &__telephone--displaced {}

  &__email {
    text-transform: uppercase;
  }

  &__email::before {
    background-image: $email-icon-1;
  }

  // &__email--displaced {}

  // &__span {}

  &__span--inverse {
    color: $mcg-1;
  }

  // &__span--displaced {}

  &__user-authorization {
    order: -1;

    display: grid;
    place-items: center;
    box-sizing: border-box;

    width: 270px;
    height: 50px;
    background-color: $mcg-1;
    border-radius: 25px;

    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
    color: $dcg-2;
    text-transform: uppercase;
  }

  // &__user-authorization--displaced {}

  &__user-authorization--invisible {
    display: none;
  }
}
