
.contacts-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--row {
    margin: 0;
    flex-direction: row;
  }

  &--invisible {
    display: none;
  }

  &__telephone,
  &__email {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 18px;
    color: $dcg-4;
  }

  &__telephone {
    margin-top: 51px;
  }

  &__telephone::before,
  &__email::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 17px;

    background-color: $dcg-8;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

  &__telephone::before {
    background-image: $telephone-icon-1;
  }

  &__email {
    text-transform: uppercase;
  }

  &__email::before {
    background-image: $email-icon-1;
  }

  &__telephone--row,
  &__email--row,
  &__telephone--row::before,
  &__email--row::before {
    margin: 0;
  }

  // &__email--row {}

  &__telephone--row::before,
  &__email--row::before {
    width: 40px;
    height: 40px;
  }

  &__telephone--row::before {
    background-color: $mcg-2;
    background-image: $telephone-icon-2;
  }

  &__email--row::before {
    background-color: $mcg-6;
    background-image: $email-icon-2;
  }

  // &__span {}

  &__span--inverse {
    color: $mcg-1;
  }

  &__span--row {
    display: none;
  }

  &__user-authorization {
    order: -1;
  }

  &__user-authorization--row {
    order: 0;
    width: 190px;
    height: 40px;
  }

  &__user-authorization--invisible {
    display: none;
  }
}

//
// @media-tablet
//

@media (min-width: $tablet-width) {
  .contacts-group {
    &--row {
      position: static;
      transform: translateX(0);
      z-index: auto;
    }

    &--tablet {
      display: flex;
    }

    &__user-authorization {
      display: none;
    }

    // &__telephone,
    // &__email {
    //   display: none;
    // }
  }
}

//
// @media-desktop
//

@media (min-width: $desktop-width) {
  .contacts-group {
    &--row {
      position: static;
      transform: translateX(0);
      z-index: auto;
    }

    &--desktop {
      display: flex;
    }

    &__telephone,
    &__email {
      display: block;
    }
  }
}
