.companion {
  position: relative;
  background-color: $lcg-1;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
  }

  &--index {
    &:hover {
      transform: scale(1.01);
      z-index: 1000;
    }
  }

  &--catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, min-content);
    grid-template-areas:
      "avatar name ."
      "avatar name ."
      "avatar likes ."
      "hashtags hashtags hashtags"
      "countries countries countries"
      "transport transport lvl"
      "button button button";
    background-color: transparent;

    @media (min-width: $tablet-width) {
      grid-template-columns: 254px 150px 106px 178px;
      grid-template-rows: repeat(5, min-content);
      grid-template-areas:
        "avatar name name transport"
        "avatar hashtags hashtags transport"
        "avatar hashtags hashtags transport"
        "avatar button likes lvl"
        "countries countries countries countries";
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 285px 54px 150px 106px 69px 182px 60px 43px;
      grid-template-rows: repeat(3, min-content);
      grid-template-areas:
        "avatar . name name . countries . ."
        "avatar . hashtags hashtags . countries . ."
        "avatar . button likes . transport lvl .";
    }
  }

  &--common-margin-left {
    @media (max-width: $mobile-width-only) {
      margin-left: 7px;
    }
  }
}

.companion__name {
  margin-top: 27px;
  color: $dcg-1;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 31px;
    line-height: 22px;
  }

  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: -17px;

    @media (min-width: $tablet-width) {
      width: 8px;
      height: 8px;
      left: -21px;
    }
  }

  &--tania-firsova {
    &::before {
      background-color: $mcg-8;
    }
  }

  &--petia-diomin {
    &::before {
      background-color: $mcg-7;
    }

    @media (min-width: $tablet-width) {
      margin-left: -20px;
    }
  }

  // &--mark-smolov {}

  // &--larisa-rogovaya {}

  &--catalog {
    grid-area: name;
    margin-bottom: 0;
    margin-top: 14px;
    padding-left: 8px;

    &::before {
      top: 8px;
      left: 146px;
      background-color: $mcg-8;
    }
  }

  &--tania-firsova-catalog {
    margin-top: 16px;
    padding-left: 15px;

    &::before {
      top: 7px;
      left: 153px;
    }
  }

  // &--petia-diomin-catalog {}

  // &--mark-smolov-catalog {}

  &--larisa-rogovaya-catalog {
    &::before {
      background-color: $mcg-7;
    }
  }
}

.companion__head-link {
  color: $dcg-1;

  &:hover {
    color: $lcg-20;
  }

  &:active {
    color: $lcg-21;
  }
}

.companion__likes {
  display: none;

  &--catalog {
    display: block;
    padding-left: 9px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: $dcg-6;
    position: relative;
    grid-area: likes;
  }

  &--firsova-catalog {
    padding-left: 15px;
  }

  // &--diomin-catalog {}

  // &--smolov-catalog {}
}

.companion__likes-heart {
  position: absolute;

  @media (max-width: $mobile-width-only) {
    top: -19px;
    left: -40px;
    transform: scale(0.6);
  }

  // &--filled {}

  // &--empty {}

  &--firsova {
    @media (max-width: $mobile-width-only) {
      top: -19px;
      left: -31px;
    }
  }

  // &--diomin {}

  // &--smolov {}
}

.companion__avatar {
  order: -1;

  &--catalog {
    grid-area: avatar;
    margin-top: 15px;
  }
}

.companion__level {
  position: absolute;
  top: 18px;
  left: 17px;

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 21px;
  }

  &--catalog {
    grid-area: lvl;
    position: static;
    margin-top: 12px;
    justify-self: end;
  }

  &--petia-diomin-catalog {
    margin-top: 18px;
  }

  &--mark-smolov-catalog {
    margin-top: 16px;
  }

  &--larisa-rogovaya-catalog {
    margin-top: 20px;
  }
}

.companion__wished-countries {
  position: absolute;
  top: 272px;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    top: 285px;
  }

  &--catalog {
    grid-area: countries;
    position: static;
    margin-top: 15.85px;
    transform: translateY(0);
  }
}

.companion__hashtags {
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
  }

  &--catalog {
    grid-area: hashtags;
    margin-top: 13.07px;
  }

  &--petia-diomin-catalog {
    margin-top: 15px;
  }

  &--larisa-rogovaya-catalog {
    margin-top: 14px;
  }
}

.companion__transport {
  margin-top: 14px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
    margin-bottom: 15px;
  }

  &--catalog {
    grid-area: transport;
    margin-top: 12px;
    margin-bottom: 0;
  }

  &--petia-diomin-catalog {
    margin-top: 17px;
  }

  &--mark-smolov-catalog {
    margin-top: 15px;
  }

  &--larisa-rogovaya-catalog {
    margin-top: 19px;
  }
}

.companion__invite-button {
  display: none;

  &--catalog {
    display: flex;
    grid-area: button;
    margin-top: 13px;
    margin-left: 2px;
    padding-top: 5px;
  }

  &--petia-diomin-catalog {
    margin-top: 12px;
  }

  &--larisa-rogovaya-catalog {
    margin-top: 16px;
    margin-left: 1px;
  }
}
