.hashtags {
  &--tania-firsova {
    width: 188px;

    @media (min-width: $tablet-width) {
      width: 223px;
    }
  }

  &--petia-diomin {
    width: 164px;

    @media (min-width: $tablet-width) {
      width: 184px;
    }
  }

  // &--mark-smolov {}

  // &--larisa-rogovaya {}
}

.hashtags__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &--catalog {
    justify-content: flex-start;
  }
}

.hashtags__item {
  &:not(:first-child) {
    margin-left: 5px;
  }

  &--expanded {
    margin-right: 20px;
  }

  &--shifted {
    transform: translateX(-5px);
  }
}

// .hashtags__link {}

.hashtags__text {
  font-weight: 400;
  line-height: 18px;
  color: $dcg-9;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }

  &--catalog {
    font-size: 15px;
  }
}
