
.selection-results {
  @media (min-width: $desktop-width) {
    width: min-content;
    padding: 0;
    margin-left: 60px;
    order: -1;
  }
}

// .selection-results__list {}

.selection-results__item {
  margin-top: 10px;
  padding-bottom: 23px;

  &:first-child {
    margin-top: 28px;

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }
}

// .selection-results__companion {}

// .selection-results__show-more {}
