.selection-results {
  @media (min-width: $desktop-width) {
    width: min-content;
    padding: 0;
    // margin-left: 60px;
    order: -1;
  }
}

// .selection-results__list {}

.selection-results__item {
  margin-top: 10px;
  padding-bottom: 23px;

  background-image: $dashed-line-1-mobile-bg, $dashed-line-2-mobile-bg;
  background-repeat: no-repeat, no-repeat;
  background-position: center 155px, center 277px;
  background-size: contain, contain;

  &:first-child {
    margin-top: 28px;

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }
}

// .selection-results__companion {}

// .selection-results__show-more {}
