.authorization {
  @include centering-grid;
  box-sizing: border-box;
  width: 270px;
  height: 50px;
  background-color: $mcg-1;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: $dcg-6;
  text-transform: uppercase;

  // @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  //   font-weight: 400;
  //   letter-spacing: 0.03em;
  // }

  @media (min-width: $tablet-width) {
    width: 188px;
    font-size: 20px;
    line-height: 20px;
  }

  &--modified {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      font-weight: 400;
      letter-spacing: 0.03em;
    }
  }
}

// .authorization__text {
//   &--js {}
// }
