.authorization {
  @include centering-grid;
  box-sizing: border-box;
  width: 270px;
  height: 50px;
  background-color: $mcg-1;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: $dcg-6;
  text-transform: uppercase;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    width: 188px;
    font-weight: 400;
    letter-spacing: 0.03em;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    background-color: transparent;
  }

  &::before {
    @include centering-grid;
    content: attr(data-text);
    position: absolute;
    left: 80px;
    width: 190px;
    height: 40px;
    top: 950px;
    line-height: inherit;
    color: inherit;
    background-color: inherit;
    border-radius: inherit;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      top: 0;
      left: 0;
      height: inherit;
      background-color: $mcg-1;
    }
  }

  &--js {
    &::before {
      top: 457px;
    }
  }
}

.authorization__text {
  @media (min-width: $desktop-width) {
    visibility: hidden;
  }

  &--js {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

// .authorization {
//   @include centering-grid;
//   box-sizing: border-box;
//   width: 270px;
//   height: 50px;
//   background-color: $mcg-1;
//   border-radius: 25px;
//   font-size: 17px;
//   font-weight: 700;
//   line-height: 30px;
//   color: $dcg-6;
//   text-transform: uppercase;

//   @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
//     position: absolute;
//     left: 500px;
//     top: -92px;
//     width: 188px;
//     font-weight: 400;
//     letter-spacing: 0.03em;
//   }

//   @media (min-width: $tablet-width) {
//     font-size: 20px;
//     line-height: 20px;
//   }

//   @media (min-width: $desktop-width) {
//     position: relative;
//     background-color: transparent;
//   }

//   &::before {
//     @include centering-grid;
//     content: attr(data-text);
//     position: absolute;
//     left: 80px;
//     width: 190px;
//     height: 40px;
//     top: 877px;
//     line-height: inherit;
//     color: inherit;
//     background-color: inherit;
//     border-radius: inherit;

//     @media (min-width: $tablet-width) {
//       display: none;
//     }

//     @media (min-width: $desktop-width) {
//       display: grid;
//       top: 0;
//       left: 0;
//       height: inherit;
//       background-color: $mcg-1;
//     }
//   }

//   &--js {
//     &::before {
//       top: 384px;
//     }
//   }
// }

// .authorization__text {
//   @media (min-width: $desktop-width) {
//     visibility: hidden;
//   }

//   &--js {
//     @media (max-width: $mobile-width-only) {
//       display: none;
//     }
//   }
// }
