@import "../../1-variables/variables";

.fellow-travelers {
  background-color: $blue-1;
  background-image: $fellow-travelers-bg-image-1, $fellow-travelers-bg-image-2, $fellow-travelers-bg-image-3;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 10% 6%, 80% 1%, 0 1%;
  background-size: auto, auto, auto;
}
