.step-indicator {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $dcg-3;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.step-indicator__step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
  width: min-content;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.6;

  &:not(:last-child) {
    margin-right: 16px;

    @media (min-width: $tablet-width) {
      margin-right: 28px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  // &--1 {}

  // &--2 {}

  // &--3 {}

  &::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $dcg-3;

    @media (min-width: $tablet-width) {
      width: 6px;
      height: 6px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -8px;
      margin-right: 36px;
    }
  }

  &--active {
    opacity: 1;

    &::before {
      background-color: $dcg-1;
    }
  }

  @media (min-width: $desktop-width) {
    float: none;
    width: auto;
  }
}

.step-indicator__step-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
