
.form-main {
  @media (max-width: $mobile-width-only) {
    background-color: $mcg-1;
  }
}

.form-main__wrapper {
  padding-bottom: 12px;
  padding-top: 22px;
  margin-top: 0;
  margin-bottom: 24px;
  background-color: $dcg-10;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding-top: 92px;
    padding-bottom: 66px;
    margin-bottom: 0;
    background-color: $dcg-4;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 114px;
    padding-bottom: 68px;
  }
}

.form-main__container {
  position: relative;

  @media (min-width: $desktop-width) {
    padding-left: 64px;
  }
}

.form-main__heading {
  text-align: left;

  &::after {
    content: "";
    display: block;
    width: 214px;
    height: 5px;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: $mcg-2;
    border-radius: 2.5px;

    @media (min-width: $tablet-width) {
      width: 358px;
      height: 8px;
      top: 122px;
      border-radius: 4px;
    }

    @media (min-width: $desktop-width) {
      top: 124px;
      left: 66px;
    }
  }
}

// .form-main__plans-form {}
