.intro {
  @media (min-width: $tablet-width) {
    background-color: $dcg-10;
    background-image: $traveller-bg-tablet, $globe-bg-tablet;
    background-repeat: no-repeat, no-repeat;
    background-size: 372px 451px, 100%;
    // background-position: 285px 272px, center bottom;
    background-position: right 28% top 66.1%, center bottom;

    @media (min-resolution: 2dppx) {
      background-image: $traveller-bg-tablet-2x, $globe-bg-tablet-2x;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    background-image: $traveller-bg-desktop, $globe-bg-desktop;
    background-size: 431px 640px, 100%;
    // background-position: 604px 8px, bottom;
    background-position: right 40% top 66.1%, center bottom;

    @media (min-resolution: 2dppx) {
      background-image: $traveller-bg-desktop-2x, $globe-bg-desktop-2x;
    }
  }
}

.intro__element {
  margin: 0 auto 0;
}

.intro__part {
  position: absolute;
  top: 384px;
  z-index: 1;
}

.intro__box {
  width: 100%;

  &--upper {
    background-color: $dcg-2;
    background-image: $traveller-bg-mobile, $globe-bg-mobile;
    background-repeat: no-repeat, no-repeat;
    // background-position: 76px 149px, center;
    background-position: right 37% top 104%, center;
    background-size: 200px 263px, cover;

    @media (min-resolution: 2dppx) {
      background-image: $traveller-bg-mobile-2x, $globe-bg-mobile;
    }

    @media (min-width: $tablet-width) {
      background-color: transparent;
      background-image: none;
    }
  }

  &--lower {
    background-color: $dcg-6;
    position: relative;

    @media (min-width: $tablet-width) {
      background-color: transparent;
      position: static;
    }
  }
}

.intro__container {
  &--upper {
    @media (max-width: $mobile-width-only) {
      position: relative;
    }
  }

  // &--lower {}
}

.intro__slogan {
  width: 88.148%;
  padding-top: 20px;
  padding-bottom: 265px;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 399px;
    padding-top: 30px;
    padding-bottom: 86px;
  }

  @media (min-width: $desktop-width) {
    width: 418px;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 331px;
    margin-left: 67px;
  }
}

.intro__contacts-group {
  left: 0;
}

.intro__authorization {
  @media (max-width: $mobile-width-only) {
    left: 80px;
    width: 190px;
    height: 40px;
    line-height: 20px;
  }
}

.intro__quote {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 1093px;
  }
}

.intro__list {
  position: absolute;
  top: 204px;
  width: 270px;
  counter-reset: intro__list;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 688px;
    top: 723px;
  }

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    top: 411px;
  }
}

.intro__item {
  display: flex;
  justify-content: space-between;
  padding: 22px 21px 22px 24px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $mcg-2;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $dcg-6;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }

  &:not(:last-child) {
    padding-bottom: 32px;

    @media (min-width: $tablet-width) {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  &::after {
    content: counter(intro__list);
    counter-increment: intro__list;
    color: $lcg-1;

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      margin-top: 10px;
      font-size: 30px;
      line-height: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -2px;
    }
  }

  &:not(:first-child) {
    position: relative;
    margin-top: -10px;
  }

  &:nth-child(2) {
    z-index: 1;
    background-color: $mcg-5;
  }

  &:nth-child(3) {
    z-index: 2;
    background-color: $mcg-6;
  }

  &:last-child {
    z-index: 3;
    background-color: $mcg-1;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @media (min-width: $tablet-width) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  &:nth-child(n) {
    @media (min-width: $tablet-width) {
      padding: 31px 30px 21px 33px;
    }

    @media (min-width: $tablet-width), (min-width: $desktop-width) {
      margin: 0;
      z-index: auto;
      box-sizing: border-box;
    }

    @media (min-width: $desktop-width) {
      width: 375px;
      padding-top: 29px;
      padding-right: 62px;
      padding-bottom: 30px;
      position: relative;
      border-top-left-radius: 20px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 0;
    }
  }

  &:nth-child(2n-1) {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      width: 369px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 20px;
    }
  }

  &:first-child {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 0;
    }
  }

  &:nth-child(2n) {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      width: 344px;
      margin-left: -25px;
      position: relative;
      z-index: 1;
    }
  }

  &:nth-child(4n + 1) {
    @media (min-width: $desktop-width) {
      width: 345px;
      padding-right: 64px;
      padding-left: 34px;
    }
  }

  &:not(:nth-child(4n + 1)) {
    @media (min-width: $desktop-width) {
      margin-left: -30px;
    }
  }

  &:nth-child(4n + 2) {
    @media (min-width: $desktop-width) {
      z-index: 1;
    }
  }

  &:nth-child(4n + 3) {
    @media (min-width: $desktop-width) {
      z-index: 2;
    }
  }

  &:nth-child(4n + 4) {
    @media (min-width: $desktop-width) {
      z-index: 3;
      width: 315px;
      padding-right: 34px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

.intro__span {
  @include words-splitter;
  width: 143px;

  @media (min-width: $tablet-width) {
    width: 191px;
  }
}
