
// .transport {}

// .transport__heading {}

.transport__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &--catalog {
    justify-content: flex-start;
    margin-top: 14px;
    margin-left: -4px;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      margin-left: 0;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
    }
  }

  &--petia-diomin-catalog {
    margin-top: 17px;
  }

  // &--mark-smolov-catalog {}
}

.transport__kind {
  &--unselected {
    & .transport__icon-svg {
      opacity: 0.15;
    }
  }

  &:not(:first-child) {
    margin-left: 10px;
  }

  &--catalog {
    &:not(:first-child) {
      margin-left: 1px;
    }

    z-index: auto;
  }
}

.transport__link {
  &--catalog {
    @include centering-grid;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $lcg-2;

    @media (min-width: $tablet-width) {
      background-color: transparent;
    }
  }
}

.transport__icon-svg {
  // &--index {}

  // &--form {}

  &--catalog {
    transform: scale(0.7);

    @media (min-width: $tablet-width) {
      transform: scale(1.05);
    }
  }
}

// .transport__plane {
//   &--index {}

//   &--form {}

//   &--catalog {}
// }

// .transport__bus {
//   &--index {}

//   &--form {}

//   &--catalog {}
// }

// .transport__bicycle {
//   &--index {}

//   &--form {}

//   &--catalog {}
// }

// .transport__by-feet {
//   &--index {}

//   &--form {}

//   &--catalog {}
// }
