.user-basic-info {
  font-size: 16px;
  line-height: 18px;
  background-color: $lcg-2;

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    padding-top: 104px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
  }

  &--text-style {
    font-weight: 700;
    color: $dcg-1;
    text-transform: uppercase;
    text-align: center;
  }

  &--positioned-absolutely {
    @media (min-width: $desktop-width) {
      position: absolute;
      z-index: 1;
    }
  }
}

.user-basic-info__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  grid-template-areas:
    "rating avatar"
    "button button"
    "tags tags"
    "transport transport";
  place-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "rating transport avatar"
      "button button button"
      "tags tags tags";
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 73px;
    padding-bottom: 61px;
  }
}

.user-basic-info__level {
  grid-area: rating;
  margin-left: -1px;

  @media (min-width: $tablet-width) {
    justify-self: start;
    margin-left: -3px;
  }

  @media (min-width: $desktop-width) {
    top: -150px;
    left: 900px;
    margin-left: -6px;
  }
}

.user-basic-info__avatar {
  grid-area: avatar;

  @media (min-width: $tablet-width) {
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    top: -190px;
    left: 1035px;
  }
}

.user-basic-info__button {
  grid-area: button;
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 1035px;
    margin-top: 0;
  }

  &:hover {
    background-color: $lcg-27;
  }
}

.user-basic-info__hashtags {
  grid-area: tags;
  margin-top: 33px;
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    width: 732px;
    margin-top: 0;
    margin-left: 64px;
  }
}

.user-basic-info__hashtags-label {
  width: 70px;
  top: -8px;

  @media (min-width: $tablet-width) {
    top: 85px;
  }
}

.user-basic-info__textarea {
  display: block;
  width: 100%;
  padding: 25.15px 26.28px 25.15px 23.28px;
  border: 1px solid $lcg-7;
  box-sizing: border-box;
  border-radius: 10px;
  resize: none;

  font-weight: 400;
  color: $dcg-9;
  background-color: $lcg-2;
  opacity: 0.6;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-top: 34.15px;
    padding-bottom: 16.5px;
    padding-left: 38.28px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 39.3px;
  }

  &:hover {
    border-color: $lcg-26;
  }
}

.user-basic-info__fieldset {
  width: 270px;
  margin-top: 25.89px;
  margin-bottom: 34px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid $lcg-7;
  border-radius: 10px;
  position: relative;

  grid-area: transport;

  @media (min-width: $tablet-width) {
    width: 308px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 140px;
    width: 384px;
  }
}

.user-basic-info__legend {
  width: 110px;
  top: -8px;

  @media (min-width: $tablet-width) {
    width: 152px;
    top: 84px;
    letter-spacing: 0.08em;
  }
}

// .user-basic-info__user-transport {}

.user-basic-info__element {
  position: absolute;
  background-color: $lcg-2;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  &--label {
    @media (min-width: $desktop-width) {
      left: 28px;
      transform: translateX(0);
    }
  }
}

.user-basic-info__span {
  &:first-child {
    margin-right: 3px;

    @media (min-width: $tablet-width) {
      margin-right: 5px;
    }
  }
}
