@import "../../1-variables/variables";

.about-service {
  padding-top: 279px;

  background-color: $blue-1;
  background-image: $about-service-bg-image-3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@import "./__center/about-service__center.scss";
@import "./__box/about-service__box.scss";
