
.companions-selection {
  padding-top: 26px;
  padding-bottom: 23px;
  color: $dcg-1;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: min-content;
    padding-top: 46px;
    padding-bottom: 49px;
    box-sizing: border-box;
  }
}

.companions-selection__element {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.companions-selection__heading {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: normal;
  }
}

.companions-selection__heading-span {
  @include words-splitter;
}

.companions-selection__fieldset {
  padding: 39px 0 0 0;
  border: none;
  border-top: 1px solid $mcg-4;
  outline: none;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $desktop-width) {
    padding-top: 22px;
  }

  &--without-border {
    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }

  &--common-padding {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      padding-top: 32px;
    }
  }

  &--hobby {
    @media (max-width: $mobile-width-only) {
      margin-top: 21px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      margin-top: 37px;
    }

    @media (min-width: $desktop-width) {
      border-top: none;
      margin-top: 33px;
    }
  }

  &--music {
    @media (min-width: $desktop-width) {
      margin-top: 20px;
    }
  }

  &--food {
    @media (min-width: $desktop-width) {
      margin-top: 32px;
    }
  }

  &--transport {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      padding-top: 24px;
      padding-left: 122px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
      margin-top: 20px;
    }
  }

  &--level {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      border-bottom: 1px solid $mcg-4;
      margin-top: 17px;
      padding-top: 0;
      padding-bottom: 37px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 36px;
    }
  }
}

.companions-selection__legend {
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  left: 0;

  @media (max-width: $mobile-width-only) {
    font-size: 16px;
    line-height: 18px;
    top: 11px;
  }

  @media (min-width: $tablet-width) {
    font-weight: 500;
  }

  @media (min-width: $desktop-width) {
    top: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 6px solid $dcg-4;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-width: 0;

    position: absolute;
    top: 0;
    left: 210px;
    transform: rotate(180deg) scale(0.75);

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      left: 181px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      content: attr(data-content);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &--hobby {
    @media (max-width: $mobile-width-only) {
      top: 12px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      top: 39px;
    }
  }

  &--music {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      top: 31px;
    }

    &::after {
      top: 5px;
    }
  }

  &--food {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      top: 31px;
    }
  }

  &--transport {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      top: 40px;
    }

    &::after {
      top: 4px;
    }
  }

  &--level {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      top: 13px;
    }

    &::after {
      top: 5px;
    }
  }

  &--collapsed {
    &::after {
      transform: rotate(0deg) scale(0.75);
    }
  }

  &--collapsed-hobby {
    &::after {
      transform: rotate(0deg) scale(0.75) translateY(8px);
    }
  }

  &--collapsed-food {
    &::after {
      transform: rotate(0deg) scale(0.75) translateY(6px);
    }
  }

  &:active {
    &::after,
    &::before {
      opacity: 0.3;
    }
  }
}

// .companions-selection__legend-span {}

.companions-selection__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding-left: 126px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 26px;
    margin-bottom: 0;
  }

  // &--hobby {}

  // &--music {}

  // &--food {}

  &--level {
    margin-top: 2px;
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      margin-top: 17px;
    }
  }
}

.companions-selection__item-label {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $dcg-3;
  padding-left: 27px;
  position: relative;
  height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-left: 36px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    flex-basis: 115px;
    flex-grow: 1;
  }

  &:not(:last-child) {
    @media (max-width: $mobile-width-only) {
      padding-bottom: 12px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      height: 22px;
      margin-bottom: 19px;
    }
  }


  &::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: $lcg-1;
    border-radius: 4px;
    position: absolute;
    top: -2px;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
      top: -4px;
    }
  }

  &--column-2 {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      padding-left: 39px;
      padding-right: 3px;
    }

    &::before {
      @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
        left: 2px;
      }
    }
  }

  &--column-3 {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      flex-basis: 100px;
    }
  }

  &:hover {
    span {
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.companions-selection__label-check-mark {
  display: none;
}

.companions-selection__input {
  &:checked {
    & + .companions-selection__item-label {
      .companions-selection__label-check-mark {
        display: block;
        position: absolute;

        @media (max-width: $mobile-width-only) {
          top: 1px;
          left: 4px;
          transform: scale(0.8);
        }

        @media (min-width: $tablet-width) {
          top: 2px;
          left: 7px;
          transform: scale(1);
        }

        &--column-2 {
          @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
            left: 9px;
          }
        }
      }
    }
  }
}

// .companions-selection__user-transport {}

// .companions-selection__customized-bar {}

.companions-selection__submit {
  margin-top: 17px;
  margin-left: -5px;

  @media (max-width: $mobile-width-only) {
    padding-top: 9px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    width: 617px;
    height: 50px;
    padding-top: 7px;
  }

  @media (min-width: $tablet-width) {
    text-transform: uppercase;
    margin-top: 35px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 192px;
    height: 49px;
    padding-top: 10px;
    padding-left: 10px;
  }

  &:hover {
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.14));
  }

  &:active {
    background-color: $mcg-4;

    span {
      opacity: 0.3;
    }
  }
}
