.general-heading {
  padding-bottom: 12px;
  padding-top: 22px;
  margin-top: 0;
  background-color: $dcg-10;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    background-color: $dcg-4;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  &--form {
    margin-bottom: 4px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding-top: 92px;
      padding-bottom: 66px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 114px;
      padding-bottom: 68px;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      padding-top: 111px;
      padding-bottom: 87px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 134px;
      padding-bottom: 88px;
    }
  }
}

.general-heading__container {
  position: relative;

  @media (min-width: $desktop-width) {
    padding-left: 64px;
  }
}

.general-heading__heading-one {
  text-align: left;

  &::after {
    content: "";
    height: 5px;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: $mcg-2;
    border-radius: 2.5px;

    @media (min-width: $tablet-width) {
      height: 8px;
      border-radius: 4px;
    }

    @media (min-width: $desktop-width) {
      top: 124px;
      left: 66px;
    }
  }

  &--form {
    &::after {
      width: 214px;

      @media (min-width: $tablet-width) {
        width: 358px;
        top: 122px;
      }

      @media (min-width: $desktop-width) {
        top: 125px;
      }
    }
  }

  &--catalog {
    &::after {
      width: 172px;

      @media (min-width: $tablet-width) {
        width: 288px;
        top: 103px;
      }

      @media (min-width: $desktop-width) {
        top: 105px;
      }
    }
  }
}

.general-heading__return-to-index {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 2px;
    left: 442px;
  }

  @media (min-width: $desktop-width) {
    left: 1080px;
  }
}
