
.fellow-travelers {
  background-color: $dcg-4;
  background-image: $fellow-travelers-bg-image-1, $fellow-travelers-bg-image-2, $fellow-travelers-bg-image-3;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 10% 6%, 80% 1%, 0 1%;
  background-size: auto, auto, auto;

  @include overlap--bottom(-2, 68px, $bottom-radii);

  // &__heading {}

  // &__main-text {}

  // &__additional-text {}

  // &__list {}

  // &__item {}

  &__companion {
    @include outline(2px, dashed, rgb(255, 255, 255));
    height: 429px;
    overflow: hidden;
  }

  // &__more {}
}

//
// @media-tablet
//

@media (min-width: $tablet-width) {
  .fellow-travelers {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item:nth-child(2n) {
      margin-left: 50px;
    }

    &__companion {
      width: 285px;
    }

    &__more {
      width: 100%;
    }
  }
}

//
// @media-desktop
//

@media (min-width: $desktop-width) {
  .fellow-travelers {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, min-content);
      grid-template-areas:
        "heading ls"
        "main-text ls"
        "add-text ls"
        "button ls";
    }

    &__heading {
      grid-area: heading;
    }

    &__main-text {
      grid-area: main-text;

      width: 427px;
    }

    &__additional-text {
      grid-area: add-text;
    }

    &__list {
      grid-area: ls;

      display: flex;
      flex-wrap: wrap;
    }

    &__more {
      grid-area: button;
    }
  }
}
