
.fellow-travelers {
  background-color: $dcg-4;

  @include overlap--bottom(997, $bottom-radii);

  @media (min-width: $tablet-width) {
    @include overlap--bottom(997, $bottom-radii-tablet);
  }

  @media (min-width: $desktop-width) {
    @include overlap--bottom(997, $bottom-radii-tablet);
  }
}

.fellow-travelers__container {
  padding-top: 68px;
  background-image: $rogovaya-bg-mobile, $smolov-bg, $rect-bg-mobile;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 307px, 152px 35px, 0 34px;
  background-size: 62px 71px, 143px 143px, 113px 132px;

  @media (min-resolution: 2dppx) {
    background-image: $rogovaya-bg-mobile-2x, $smolov-bg-2x, $rect-bg-mobile;
  }

  @media (min-width: $tablet-width) {
    padding-top: 141px;
    background-image: $rogovaya-bg-tablet, $smolov-bg, $quadrate-bg-desktop;
    background-position: 409px 80px, 40px 426px, 40px 71px;
    background-size: 285px 285px, 143px 143px, 212px 212px;

    @media (min-resolution: 2dppx) {
      background-image: $rogovaya-bg-tablet-2x, $smolov-bg-2x, $quadrate-bg-desktop;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 130px;

    @include grid-for-desktop;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "heading heading ls ls"
      "main-text main-text ls ls"
      "add-text add-text ls ls"
      "button button ls ls";

    background-position: 190px 386px, 547px 134px, 60px 70px;
  }
}

.fellow-travelers__heading {
  @media (min-width: $desktop-width) {
    grid-area: heading;
  }
}

.fellow-travelers__main-text {
  width: 217px;
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    width: 427px;
    margin-top: 55px;
    line-height: 34px;
  }

  @media (min-width: $desktop-width) {
    grid-area: main-text;
    width: 427px;
    line-height: 33px;
  }
}

.fellow-travelers__additional-text {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-top: 39px;
    font-size: 21px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
    grid-area: add-text;
  }
}

.fellow-travelers__list {
  margin-top: 54px;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-top: 59px;
    grid-template-columns: 285px 285px;
    grid-auto-rows: min-content;
    column-gap: 50px;
    row-gap: 10px;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
    column-gap: 60px;
    grid-area: ls;
  }
}

.fellow-travelers__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &:last-child {
    margin-bottom: 20px;
  }

  &:nth-child(n) {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.fellow-travelers__companion {
  @media (min-width: $tablet-width) {
    width: 285px;
  }
}

.fellow-travelers__more {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 78px;
    margin-bottom: 87px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    margin-top: 85px;
    margin-bottom: 134px;
    grid-area: button;
  }
}
