
.fellow-travelers {
  background-color: $dcg-4;
  background-image: $fellow-travelers-bg-image-1, $fellow-travelers-bg-image-2, $fellow-travelers-bg-image-3;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 341px, 152px 69px, 0 68px;
  background-size: auto, auto, auto;

  @include overlap--bottom(-2, 68px, $bottom-radii);
}

.fellow-travelers__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "heading ls"
      "main-text ls"
      "add-text ls"
      "button ls";
  }
}

.fellow-travelers__heading {
  @media (min-width: $desktop-width) {
    grid-area: heading;
  }
}

.fellow-travelers__main-text {
  width: 217px;
  margin-top: 19px;

  @media (min-width: $desktop-width) {
    grid-area: main-text;
    width: 427px;
  }
}

.fellow-travelers__additional-text {
  margin-top: 20px;

  @media (min-width: $desktop-width) {
    grid-area: add-text;
  }
}

.fellow-travelers__list {
  margin-top: 54px;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    grid-area: ls;
  }
}

.fellow-travelers__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &:last-child {
    margin-bottom: 20px;
  }

  &:nth-child(2n) {
    @media (min-width: $tablet-width) {
      margin-left: 50px;
    }
  }
}

.fellow-travelers__companion {
  @media (min-width: $tablet-width) {
    width: 285px;
  }
}

.fellow-travelers__more {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    grid-area: button;
  }
}
