.quote {
  padding-top: 47px;
  padding-bottom: 109px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 350px;
    padding-left: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 113px;
    padding-left: 0;
  }
}

.quote__content {
  width: 151px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: 264px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 41px;
  }
}

.quote__cite {
  display: block;
  width: 161px;
  font-weight: 700;
  font-style: normal;

  @media (min-width: $tablet-width) {
    width: 251px;
    font-size: 21px;
    line-height: 25px;
  }
}

.quote__span {
  &--editor {
    @media (min-width: $tablet-width) {
      @include words-splitter;
      width: inherit;
    }
  }
}
