@import "../../../1-variables/variables";

.about-service__box {
  background-color: $blue-1;
  background-image: $about-service-bg-image-1, $about-service-bg-image-2;
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%, top left;
  background-size: auto, auto;
}
